Filename,Title,Count,SourceName,SourceURL,IsSurname
First Names (QuietAffiliate),First Names,5494,quietaffiliates.com,http://www.quietaffiliate.com/free-first-name-and-last-name-databases-csv-and-sql,false
US Baby Names (Hadley),U.S. Baby Names,258000,github.com/hadley,https://github.com/hadley/data-baby-names,false
Old Testament (Hadley),Old Testament Names,147,github.com/hadley,https://github.com/hadley/data-baby-names,false
Elf - Lord of the Rings (Wikipedia),Elf Names - LOTR,93,wikipedia.org,http://en.wikipedia.org/wiki/List_of_Middle-earth_Elves,false
Last Names (US Census 2000),U.S. Last Names,151671,US Census 2000,http://stackoverflow.com/questions/6332119/any-good-surname-databases,true
Last Names (QuietAffiliate),Last Names,88799,quietaffiliates.com,http://www.quietaffiliate.com/free-first-name-and-last-name-databases-csv-and-sql,true
Dwarf (Bugmansbrewery),Dwarf Names,192,bugsmanbrewery.com,http://www.bugmansbrewery.com/tutorials/article/24-dwarf-names/,false